﻿@{
    Layout = null;
}

<script src="~/Scripts/knockout-2.2.0.js"></script>
<script data-main="/Scripts/main.js" src="~/Scripts/require.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Movie Library</title>
</head>
<body>
    <div>
        <div>Here are my movies:</div>
        
        <div id="MovieList">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: movieList">
                    <tr>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: ReleaseDate"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div id="AddMovie">
            <input type="text" data-bind="Title" />
            <input type="button" value="Add Movie" data-bind="Submit" />
        </div>
    </div>
</body>
</html>
